<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привет, Мир!</h1>
<p th:text="${key1}"></p>
<p th:text="${key2}"></p>
<p th:text="${key3}"></p>

<form action="/check" method="get">
    <p>2+2 =
        <input type="number" value="Ответ" id="ans" name="ans">
    </p>
    <p>2+8 =
        <input type="number" value="Ответ" id="ans2" name="ans">
    </p>
    <br>
    <input type="submit" value="Проверить">
</form>
</body>
</html>